.AppBar {
  display: flex;
  align-items: center;
  background-color: #1A1A1A;
  padding: 15px 20px 15px 25px;
}

.phoneNumber {
  margin-right: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-feature-settings: 'pnum' on, 'lnum' on;
}