.AppBar {
  /* overflow: auto; */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #1A1A1A;
  padding: 15px 20px 15px 25px;
  z-index: 100;
  width: 100%;
  
}

.phoneNumber {
  margin-right: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (min-width: 1440px) {
  .AppBar {
    display: none;
  }
}