.layout {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1439px) {
  
  .content {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .layout {
    display: flex;
  }

  .content {
    width: 77%;
  }
}