.desktopAppBar {
  display: none;
  background-color: #1A1A1A;
  padding-top: 60px;
}

.phoneNumber {
  margin-right: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.logoDesktop {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .desktopAppBar {
    display: block;
    width: 20%;
  }
}