.desktopAppBar {
  display: none;
  background-color: #1A1A1A;
  padding: 60px 0;
  box-shadow: 0.4rem 0.4rem 1.5rem rgb(0 0 0 / 40%);
  z-index: 3;
}

.phoneNumber {
  margin-right: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.logoDesktop {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .desktopAppBar {
    display: block;
    width: 23%;
    min-height: 100vh;
  }
}