.container {
  position: relative;
  background-color: #2D4126;
  /* background-image: url('../../../public/images/pattern_\ 1\ \(1\).png'); */
  padding: 40px 16px;
  z-index: 2;
}

.container::before {
  content: "";
    background: url('../../../public/images/pattern_\ 1\ \(1\).png');
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.food {
  font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: white;
    margin-bottom: 16px;
    margin-left: 8px;
    z-index: 2;
}

.list {
  /* margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; */
  display: grid;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-gap: 30px;
    /* margin-top: 16px;
    margin-bottom: 16px; */
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

/* @media screen and (min-width: 500px){
  .list {
    gap: 30px;
  }
} */

