.slick-slider {
  position: relative;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.slick-track {
  display: flex;
  gap: 2px;
}

.slick-list {
  overflow: hidden;
  
}

.slick-item {
  display: inline-block;
  text-align: center;
  
}

.slick-arrow {
  background-color: #D7B56D;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slick-arrow:hover {
  background-color: #f8e0ab;
  
}

.slick-slider .slick-arrow.slick-prev {
  display: block;
  
  width: 46px;
  height: 46px;
  left: 20px;
  font-size: 0;
  border-radius: 10px;
  opacity: 0.9;
  transform: translateY(-50%);  
}

.slick-prev::before {
  content: '';
  display: block;
  width: 18px;
  height: 14px;
  translate: 75%;
  background-image: url('../../images/arrow-left.svg');
}

.slick-slider .slick-arrow.slick-next {
  display: block;
  width: 46px;
  height: 46px;
  
  right: 20px;
  font-size: 0;
  border-radius: 10px;
  opacity: 0.9;
  transform: translateY(-50%);
}

.slick-next::before {

  content: '';
  display: block;
  width: 18px;
  height: 14px;
  fill: white;
  transform: translateX(75%);
  background-image: url('../../images/arrow-right.svg');
}

.slick-slider .slick-arrow.slick-next.slick-disabled {
  background-color: white;
  opacity: 0;
  cursor: auto;
}
.slick-slider .slick-arrow.slick-prev.slick-disabled {
  background-color: white;
  opacity: 0;
  cursor: auto;
}

.smallPage {
  background-color: white;
  max-width: 107px;
  max-height: 80px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.bigPage {
  max-width: 343px;
  max-height: 360px;
  border-radius: 20px;
  overflow: hidden;
}

.bigPage img {
  object-fit: cover;
  border-radius: 20px;
}

.smallPage img {
  opacity: 0.5;
}

.slick-current .smallPage img {
  opacity: 1;
}

.slick-active {
  display: flex;
  justify-content: center;
}